<doctype! html>
<html>
  <head>
    <title> Home </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"> </script>
  </head>
  <body>
    <p>Welcome to game: {{join_code}} Name: {{nickname}}</p>

    <button onclick = "move('rock')">ROCK</button>
    <button onclick = "move('paper')">PAPER</button>
    <button onclick = "move('scissors')">SCISSORS</button>

    <p id = "log"> </p>
    <script>
      var socket = io.connect();

      //when you recieve a message append it to the log
      socket.on('response', function(msg) {
          $('#log').append('<p>Received: ' + msg.data + '</p>');
      });

      //emit move data to server on button press
      function move(type) {
          socket.emit('made_move', {data: type});
          return false;
      }

    </script>

  </body>
</html>
